*{
   margin:0;
}

body{
   background-color: #A8E08F; 
   align-items: center;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: #2f302ebe;
   display: grid;
   grid-template-areas:
   "lateral1 lateral2";
   grid-template-rows: 100%;
   grid-template-columns: 1fr 2fr;  
}
.lateral1{
   background-color: #A8E08F; 
   gap: 20px;
   grid-area: lateral1;
   display: flex;
   flex-direction: column;
   padding: 10px;
}
#titulo{
   font-size: xx-large;
   text-align: center;
}
.ladinho{
   text-align: end;
   border-bottom: 3px solid #87b173;
   padding-top: 20px;
}
.lateral2{
   background-color: #eef4ea;
   grid-area: lateral2;
   display: flex;
   flex-direction: column;
   height: 100%;
   padding: 40px;
   gap: 50px;

}
.titulo p{
   padding-top: 50px;
   font-size: xx-large;
}
h1{
   /* font-family: 'proxima-nova', sans-serif; */
   font-size: xx-large;
}

#i3{
   top: 90px;
   height: 200px;
   width: 200px;
   align-items: center;
   margin: auto;
   border: 7px solid black;
   border-radius: 600px;
   margin-top: 10%;
   
   
}

 .ctt{
   display: flex;
   flex-direction: column;
   gap: 30px;
  
 }
 .i2{
   display: flex;
   flex-direction: column;
   height: 25px;
   width: 25px;
 }
footer{
   width: 100%;
   height: 40px;
   background-color: #eef4ea;
   position: fixed;
   bottom: 0;
  text-align: center;
  display: flex
  ;
  flex-direction: column;
}
/* botão de curriculo */

.botao {
   text-decoration: none;
   color: #f2f6f1;
   background-color: #A8E08F;
   border: none;
   border-radius: 40px;
   padding: 10px;
   font-size: 16px;
   cursor: pointer;
   transition: all 0.3s ease;
   
}

.botao:hover {
   background-color: #87b173;
   color: white;
} 